.register-page {
  height: 93vh;
  
  font-weight: bold;
  font-size: 1.2rem;

  color: #fff;

  &__form {
    padding: 5em;
    border-radius: 10px;

  }

  &__input {
    display: inline-block;
    font-weight: bold;

    padding: 1.5rem;
    border-radius: 2em;
  }

  &__button {
    border-radius: 2em;
  }
}