.post-list {
  &__card {
    display: flex;
    flex-direction: column;

    background-color: #000;

    border: 1px solid rgb(61, 61, 61);
    margin-bottom: 15px;

    &__body {
      background-color: #000;
      color: #fff;
    }

    &__icon,
    &__icon--active {
      align-self: flex-end;
      margin: 5px 10px;
      
      font-size: 1.5em;
      cursor: pointer;
      
    }
  }
}